@page "/TheBigBangTheory"

@inject Blazored.LocalStorage.ILocalStorageService storage
@inject NavigationManager manager
@using MongoDB.Driver;
@using System.IO;

<div class="container" style="margin-left: auto; margin-right: auto;
    width: 100%; height: auto;">
    <div class="row" style="margin-left: auto; margin-right: auto;">
        <div class="col" style="padding-left: 0">
            <h2>Теория большого взрыва</h2>
            <h5>The Big Bang Theory</h5>
        </div>
    </div>
    <img src="/tbbt.jpg" class="img-fluid img-thumbnail" alt="The Big Bang Theory">
    <div class="row" style="margin-left:auto; margin-right:auto; margin-top: 5px;">
        @if (UserWatch)
        {
            <button type="button" class="btn btn-success btn-block" style="width: 25%;"
                    @onclick="UserIsWatchingAsync">
                Смотрю
            </button>
        }
        else
        {
            <button type="button" class="btn btn-light btn-block" style="width: 25%;"
                    @onclick="UserIsWatchingAsync">
                Смотрю
            </button>
        }
        @if (UserWillWatch)
        {
            <button type="button" class="btn btn-success btn-block" style="width: 25%; margin-top: 0;"
                    @onclick="UserWillWatchingAsync">
                Буду
            </button>
        }
        else
        {
            <button type="button" class="btn btn-light btn-block" style="width: 25%; margin-top: 0;"
                    @onclick="UserWillWatchingAsync">
                Буду
            </button>
        }
        @if (UserStopWatch)
        {
            <button type="button" class="btn btn-success btn-block" style="width: 25%; margin-top: 0;"
                    @onclick="UserStopWatchingAsync">
                Перестал
            </button>
        }
        else
        {
            <button type="button" class="btn btn-light btn-block" style="width: 25%; margin-top: 0;"
                    @onclick="UserStopWatchingAsync">
                Перестал
            </button>
        }
        @if (UserDoesntWatch)
        {
            <button type="button" class="btn btn-success btn-block" style="width: 25%; margin-top: 0;"
                    @onclick="UserDontWatchingAsync">
                Не смотрю
            </button>
        }
        else
        {
            <button type="button" class="btn btn-light btn-block" style="width: 25%; margin-top: 0;"
                    @onclick="UserDontWatchingAsync">
                Не смотрю
            </button>
        }
    </div>
</div>

<div class="container" style="margin-left: auto; margin-right: auto; top: 300px; bottom: 15px;">
    <div class="row">
        <div class="col" style="margin-left: auto; top: 15px;">
            <div class="row" style="height: auto;">
                @if (UserWatch || UserWillWatch || UserStopWatch)
                {
                    <p style="margin-left: 15px; margin-top: 12px;">Моя оценка:</p>
                    <div class="rate" style="margin-left: auto; margin-right: auto;">
                        @if (currentUserRating == 5 && IsUserLogged)
                        {
                            <input type="radio" checked id="star5" name="rate" value="5" @onclick="Rating5" />
                            <label for="star5" title="text">5 stars</label>
                        }
                        else if (!IsUserLogged)
                        {
                            <input type="radio" id="star5" name="rate" value="5" disabled />
                            <label for="star5" title="text">5 stars</label>
                        }
                        else
                        {
                            <input type="radio" id="star5" name="rate" value="5" @onclick="Rating5" />
                            <label for="star5" title="text">5 stars</label>
                        }
                        @if (currentUserRating == 4 && IsUserLogged)
                        {
                            <input type="radio" checked id="star4" name="rate" value="4" @onclick="Rating4" />
                            <label for="star4" title="text">4 stars</label>
                        }
                        else if (!IsUserLogged)
                        {
                            <input type="radio" id="star5" name="rate" value="4" disabled />
                            <label for="star4" title="text">4 stars</label>
                        }
                        else
                        {
                            <input type="radio" id="star4" name="rate" value="4" @onclick="Rating4" />
                            <label for="star4" title="text">4 stars</label>
                        }
                        @if (currentUserRating == 3 && IsUserLogged)
                        {
                            <input type="radio" checked id="star3" name="rate" value="3" @onclick="Rating3" />
                            <label for="star3" title="text">3 stars</label>
                        }
                        else if (!IsUserLogged)
                        {
                            <input type="radio" id="star5" name="rate" value="3" disabled />
                            <label for="star3" title="text">3 stars</label>
                        }
                        else
                        {
                            <input type="radio" id="star3" name="rate" value="3" @onclick="Rating3" />
                            <label for="star3" title="text">3 stars</label>
                        }
                        @if (currentUserRating == 2 && IsUserLogged)
                        {
                            <input type="radio" checked id="star2" name="rate" value="2" @onclick="Rating2" />
                            <label for="star2" title="text">2 stars</label>
                        }
                        else if (!IsUserLogged)
                        {
                            <input type="radio" id="star5" name="rate" value="2" disabled />
                            <label for="star2" title="text">2 stars</label>
                        }
                        else
                        {
                            <input type="radio" id="star2" name="rate" value="2" @onclick="Rating2" />
                            <label for="star2" title="text">2 stars</label>
                        }
                        @if (currentUserRating == 1 && IsUserLogged)
                        {
                            <input type="radio" checked id="star1" name="rate" value="1" @onclick="Rating1" />
                            <label for="star1" title="text">1 star</label>
                        }
                        else if (!IsUserLogged)
                        {
                            <input type="radio" id="star1" name="rate" value="1" disabled />
                            <label for="star5" title="text">1 stars</label>
                        }
                        else
                        {
                            <input type="radio" id="star1" name="rate" value="1" @onclick="Rating1" />
                            <label for="star1" title="text">1 star</label>
                        }
                    </div>
                }
                else
                {
                    <p style="margin-left: 15px; margin-top: 12px;">Рейтинг:</p>
                }
            </div>
        </div>
        <div class="col-4" style="margin-right: auto; top: 15px;">
            <div class="row" style="margin-left: 15px; margin-top: 12px; height: auto;">
                @if (allUsersRating > 0)
                {
                    <p>@Math.Round(allUsersRating, 2) из 5 </p><span style="position: relative; top: -0.4em">@userCount</span>
                }
                else
                {
                    <p>0 из 5 </p><span style="position: relative; top: -0.4em">@userCount</span>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="margin-left: auto; top: 15px;">
            <div class="row" style="height: auto;">
                <div class="col">
                    <p style="margin-top: 12px;">Дата выхода:</p>
                </div>
            </div>
        </div>
        <div class="col-4" style="margin-right: auto; top: 15px;">
            <div class="row" style="height: auto;">
                <div class="col">
                    <p style="margin-top: 12px;">@date</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="margin-left: auto; top: 15px;">
            <div class="row" style="height: auto;">
                <div class="col">
                    <p style="margin-top: 12px;">Длительность серии:</p>
                </div>
            </div>
        </div>
        <div class="col-4" style="margin-right: auto; top: 15px;">
            <div class="row" style="height: auto;">
                <div class="col">
                    <p style="margin-top: 12px;">@seriesTime</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="margin-left: auto; top: 15px;">
            <div class="row" style="height: auto;">
                <div class="col">
                    <p style="margin-top: 12px;">Общая длительность: </p>
                </div>
            </div>
        </div>
        <div class="col-4" style="margin-right: auto; top: 15px;">
            <div class="row" style="height: auto;">
                <div class="col">
                    @if (tbbtTimeCount % 10 == 1 && tbbtTimeCount != 11 && tbbtTimeCount % 10 != 11)
                    {
                        <p style="margin-top: 12px;">@tbbtTimeCount час</p>
                    }
                    @if ((tbbtTimeCount % 10 == 2 || tbbtTimeCount % 10 == 3 || tbbtTimeCount % 10 == 4) &&
                      tbbtTimeCount != 12 && tbbtTimeCount != 13 && tbbtTimeCount != 14)
                    {
                        <p style="margin-top: 12px;">@tbbtTimeCount часа</p>
                    }
                    @if (tbbtTimeCount % 10 == 0 || tbbtTimeCount % 10 == 5 || tbbtTimeCount % 10 == 6 ||
                     tbbtTimeCount % 10 == 7 || tbbtTimeCount % 10 == 8 || tbbtTimeCount % 10 == 9 ||
                     tbbtTimeCount == 11 || tbbtTimeCount == 12 || tbbtTimeCount == 13 ||
                     tbbtTimeCount == 14 || tbbtTimeCount == 15 || tbbtTimeCount == 16 ||
                     tbbtTimeCount == 17 || tbbtTimeCount == 18 || tbbtTimeCount == 19 ||
                     tbbtTimeCount % 10 == 11 || tbbtTimeCount % 10 == 12 || tbbtTimeCount % 10 == 13 ||
                     tbbtTimeCount % 10 == 14 || tbbtTimeCount % 10 == 15 || tbbtTimeCount % 10 == 16 ||
                     tbbtTimeCount % 10 == 17 || tbbtTimeCount % 10 == 18 || tbbtTimeCount % 10 == 19)
                    {
                        <p style="margin-top: 12px;">@tbbtTimeCount часов</p>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="margin-left: auto; top: 15px;">
            <div class="row" style="height: auto;">
                <div class="col">
                    <p style="margin-top: 12px;">Количество сезонов: </p>
                </div>
            </div>
        </div>
        <div class="col-4" style="margin-right: auto; top: 15px;">
            <div class="row" style="height: auto;">
                <div class="col">
                    <p style="margin-top: 12px;">@seasons</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-left: auto; margin-right: auto;
    padding-top: 15px; bottom: 15px;">
    <h5>Информация о сериале:</h5>
    <p text-justify>@information</p>
</div>

<div class="container">
    <div class="accordion" id="accordionPanelsStayOpen">
        <div class="accordion-item">
            <h3 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne" style="border-radius: 5px;
                        background-color: aquamarine; width: 100%;">
                    <div class="text-left" style="margin-left: 5px;">Сезон 1</div>
                </button>
            </h3>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                 aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    <div class="container px-4">
                        <div class="row gx-5">
                            <div class="col" style="margin-left: auto;">
                                @foreach (var item in tbbt)
                                {
                                    @if (item.SerialSeason == 1)
                                    {
                                        <SeriesListTable UserSeriesLogin="@UserLogin" UserSeriesPassword="@UserPassword"
                                                         SerialName="@item.SerialName" SerialNameEng="@item.SerialNameEng"
                                                         SerialSeason="item.SerialSeason" SeriesNumber="item.SeriesNumber"
                                                         SeriesName="@item.SeriesName" />
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h3 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo" style="border-radius: 5px;
                        background-color: aquamarine; width: 100%;">
                    <div class="text-left" style="margin-left: 5px;">Сезон 2</div>
                </button>
            </h3>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    <div class="container px-4">
                        <div class="row gx-5">
                            <div class="col" style="margin-left: auto;">
                                @foreach (var item in tbbt)
                                {
                                    @if (item.SerialSeason == 2)
                                    {
                                        <SeriesListTable UserSeriesLogin="@UserLogin" UserSeriesPassword="@UserPassword"
                                                         SerialName="@item.SerialName" SerialNameEng="@item.SerialNameEng"
                                                         SerialSeason="item.SerialSeason" SeriesNumber="item.SeriesNumber"
                                                         SeriesName="@item.SeriesName" />
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h3 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree" style="border-radius: 5px;
                        background-color: aquamarine; width: 100%;">
                    <div class="text-left" style="margin-left: 5px;">Сезон 3</div>
                </button>
            </h3>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                    <div class="container px-4">
                        <div class="row gx-5">
                            <div class="col" style="margin-left: auto;">
                                @foreach (var item in tbbt)
                                {
                                    @if (item.SerialSeason == 3)
                                    {
                                        <SeriesListTable UserSeriesLogin="@UserLogin" UserSeriesPassword="@UserPassword"
                                                         SerialName="@item.SerialName" SerialNameEng="@item.SerialNameEng"
                                                         SerialSeason="item.SerialSeason" SeriesNumber="item.SeriesNumber"
                                                         SeriesName="@item.SeriesName" />
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h3 class="accordion-header" id="panelsStayOpen-headingFour">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFour" style="border-radius: 5px;
                        background-color: aquamarine; width: 100%;">
                    <div class="text-left" style="margin-left: 5px;">Сезон 4</div>
                </button>
            </h3>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingFour">
                <div class="accordion-body">
                    <div class="container px-4">
                        <div class="row gx-5">
                            <div class="col" style="margin-left: auto;">
                                @foreach (var item in tbbt)
                                {
                                    @if (item.SerialSeason == 4)
                                    {
                                        <SeriesListTable UserSeriesLogin="@UserLogin" UserSeriesPassword="@UserPassword"
                                                         SerialName="@item.SerialName" SerialNameEng="@item.SerialNameEng"
                                                         SerialSeason="item.SerialSeason" SeriesNumber="item.SeriesNumber"
                                                         SeriesName="@item.SeriesName" />
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h3 class="accordion-header" id="panelsStayOpen-headingFive">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFive" style="border-radius: 5px;
                        background-color: aquamarine; width: 100%;">
                    <div class="text-left" style="margin-left: 5px;">Сезон 5</div>
                </button>
            </h3>
            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingFive">
                <div class="accordion-body">
                    <div class="container px-4">
                        <div class="row gx-5">
                            <div class="col" style="margin-left: auto;">
                                @foreach (var item in tbbt)
                                {
                                    @if (item.SerialSeason == 5)
                                    {
                                        <SeriesListTable UserSeriesLogin="@UserLogin" UserSeriesPassword="@UserPassword"
                                                         SerialName="@item.SerialName" SerialNameEng="@item.SerialNameEng"
                                                         SerialSeason="item.SerialSeason" SeriesNumber="item.SeriesNumber"
                                                         SeriesName="@item.SeriesName" />
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h3 class="accordion-header" id="panelsStayOpen-headingSix">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseSix" style="border-radius: 5px;
                        background-color: aquamarine; width: 100%;">
                    <div class="text-left" style="margin-left: 5px;">Сезон 6</div>
                </button>
            </h3>
            <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingSix">
                <div class="accordion-body">
                    <div class="container px-4">
                        <div class="row gx-5">
                            <div class="col" style="margin-left: auto;">
                                @foreach (var item in tbbt)
                                {
                                    @if (item.SerialSeason == 6)
                                    {
                                        <SeriesListTable UserSeriesLogin="@UserLogin" UserSeriesPassword="@UserPassword"
                                                         SerialName="@item.SerialName" SerialNameEng="@item.SerialNameEng"
                                                         SerialSeason="item.SerialSeason" SeriesNumber="item.SeriesNumber"
                                                         SeriesName="@item.SeriesName" />
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h3 class="accordion-header" id="panelsStayOpen-headingSeven">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseSeven" style="border-radius: 5px;
                        background-color: aquamarine; width: 100%;">
                    <div class="text-left" style="margin-left: 5px;">Сезон 7</div>
                </button>
            </h3>
            <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingSeven">
                <div class="accordion-body">
                    <div class="container px-4">
                        <div class="row gx-5">
                            <div class="col" style="margin-left: auto;">
                                @foreach (var item in tbbt)
                                {
                                    @if (item.SerialSeason == 7)
                                    {
                                        <SeriesListTable UserSeriesLogin="@UserLogin" UserSeriesPassword="@UserPassword"
                                                         SerialName="@item.SerialName" SerialNameEng="@item.SerialNameEng"
                                                         SerialSeason="item.SerialSeason" SeriesNumber="item.SeriesNumber"
                                                         SeriesName="@item.SeriesName" />
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h3 class="accordion-header" id="panelsStayOpen-headingEight">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseEight" style="border-radius: 5px;
                        background-color: aquamarine; width: 100%;">
                    <div class="text-left" style="margin-left: 5px;">Сезон 8</div>
                </button>
            </h3>
            <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingEight">
                <div class="accordion-body">
                    <div class="container px-4">
                        <div class="row gx-5">
                            <div class="col" style="margin-left: auto;">
                                @foreach (var item in tbbt)
                                {
                                    @if (item.SerialSeason == 8)
                                    {
                                        <SeriesListTable UserSeriesLogin="@UserLogin" UserSeriesPassword="@UserPassword"
                                                         SerialName="@item.SerialName" SerialNameEng="@item.SerialNameEng"
                                                         SerialSeason="item.SerialSeason" SeriesNumber="item.SeriesNumber"
                                                         SeriesName="@item.SeriesName" />
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h3 class="accordion-header" id="panelsStayOpen-headingNine">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseNine" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseNine" style="border-radius: 5px;
                        background-color: aquamarine; width: 100%;">
                    <div class="text-left" style="margin-left: 5px;">Сезон 9</div>
                </button>
            </h3>
            <div id="panelsStayOpen-collapseNine" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingNine">
                <div class="accordion-body">
                    <div class="container px-4">
                        <div class="row gx-5">
                            <div class="col" style="margin-left: auto;">
                                @foreach (var item in tbbt)
                                {
                                    @if (item.SerialSeason == 9)
                                    {
                                        <SeriesListTable UserSeriesLogin="@UserLogin" UserSeriesPassword="@UserPassword"
                                                         SerialName="@item.SerialName" SerialNameEng="@item.SerialNameEng"
                                                         SerialSeason="item.SerialSeason" SeriesNumber="item.SeriesNumber"
                                                         SeriesName="@item.SeriesName" />
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h3 class="accordion-header" id="panelsStayOpen-headingTen">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTen" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTen" style="border-radius: 5px;
                        background-color: aquamarine; width: 100%;">
                    <div class="text-left" style="margin-left: 5px;">Сезон 10</div>
                </button>
            </h3>
            <div id="panelsStayOpen-collapseTen" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingTen">
                <div class="accordion-body">
                    <div class="container px-4">
                        <div class="row gx-5">
                            <div class="col" style="margin-left: auto;">
                                @foreach (var item in tbbt)
                                {
                                    @if (item.SerialSeason == 10)
                                    {
                                        <SeriesListTable UserSeriesLogin="@UserLogin" UserSeriesPassword="@UserPassword"
                                                         SerialName="@item.SerialName" SerialNameEng="@item.SerialNameEng"
                                                         SerialSeason="item.SerialSeason" SeriesNumber="item.SeriesNumber"
                                                         SeriesName="@item.SeriesName" />
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h3 class="accordion-header" id="panelsStayOpen-headingEleven">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseEleven" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseEleven" style="border-radius: 5px;
                        background-color: aquamarine; width: 100%;">
                    <div class="text-left" style="margin-left: 5px;">Сезон 11</div>
                </button>
            </h3>
            <div id="panelsStayOpen-collapseEleven" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingEleven">
                <div class="accordion-body">
                    <div class="container px-4">
                        <div class="row gx-5">
                            <div class="col" style="margin-left: auto;">
                                @foreach (var item in tbbt)
                                {
                                    @if (item.SerialSeason == 11)
                                    {
                                        <SeriesListTable UserSeriesLogin="@UserLogin" UserSeriesPassword="@UserPassword"
                                                         SerialName="@item.SerialName" SerialNameEng="@item.SerialNameEng"
                                                         SerialSeason="item.SerialSeason" SeriesNumber="item.SeriesNumber"
                                                         SeriesName="@item.SeriesName" />
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h3 class="accordion-header" id="panelsStayOpen-headingTwelve">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwelve" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwelve" style="border-radius: 5px;
                        background-color: aquamarine; width: 100%;">
                    <div class="text-left" style="margin-left: 5px;">Сезон 12</div>
                </button>
            </h3>
            <div id="panelsStayOpen-collapseTwelve" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingTwelve">
                <div class="accordion-body">
                    <div class="container px-4">
                        <div class="row gx-5">
                            <div class="col" style="margin-left: auto;">
                                @foreach (var item in tbbt)
                                {
                                    @if (item.SerialSeason == 12)
                                    {
                                        <SeriesListTable UserSeriesLogin="@UserLogin" UserSeriesPassword="@UserPassword"
                                                         SerialName="@item.SerialName" SerialNameEng="@item.SerialNameEng"
                                                         SerialSeason="item.SerialSeason" SeriesNumber="item.SeriesNumber"
                                                         SeriesName="@item.SeriesName" />
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    public string UserLogin { get; set; }
    public string UserPassword { get; set; }

    public bool IsUserLogged { get; set; }

    public bool UserWatch { get; set; }
    public bool UserWillWatch { get; set; }
    public bool UserStopWatch { get; set; }
    public bool UserDoesntWatch { get; set; }

    public int CurrentUserRatingTBBT { get; set; }
    int currentUserRating;
    double allUsersRating = 0;
    double usersRating = 0;
    int userCount = 0;

    public int TBBTSeriesCount { get; set; }
    int tbbtSeriesCount = 0;
    public int TBBTTimeCount { get; set; }
    int tbbtTimeCount = 0;

    [Parameter] public TBBT TBBT { get; set; }
    List<TBBT> tbbt = new List<TBBT>();

    string date;
    string information;
    int seasons;
    int seriesTime = 22;

    protected override async Task OnInitializedAsync()
    {
        StreamReader rr = new StreamReader(Path.GetFullPath("tbbt.txt"));
        string ss = null;
        while ((ss = rr.ReadLine()) != null)
        {
            TBBT x = new TBBT();
            x.SerialName = ss;
            x.SerialNameEng = rr.ReadLine();
            x.SerialSeason = int.Parse(rr.ReadLine());
            x.SeriesNumber = int.Parse(rr.ReadLine());
            x.SeriesName = rr.ReadLine();
            tbbt.Add(x);
            tbbtSeriesCount++;
        }
        rr.Close();

        UserLogin = await storage.GetItemAsync<string>("UserLogin");
        UserPassword = await storage.GetItemAsync<string>("UserPassword");
        IsUserLogged = await storage.GetItemAsync<bool>("IsUserLogged");

        var connectionStringTBBT = "mongodb://localhost";
        var clientTBBT = new MongoClient(connectionStringTBBT);
        var dbTBBT = clientTBBT.GetDatabase("TV_Shows");
        var collectionTBBT = dbTBBT.GetCollection<TBBT>("TheBigBangTheory");
        if (collectionTBBT.Find(x => x.SerialNameEng == "The Big Bang Theory").CountDocuments() == 0)
            FromBlazorToDBToSerial();

        tbbtTimeCount = 22 * tbbtSeriesCount;

        await storage.SetItemAsync<int>("TBBTSeriesCount", tbbtSeriesCount);
        await storage.SetItemAsync<int>("TBBTTimeCount", tbbtTimeCount);

        UserWatch = await storage.GetItemAsync<bool>("UserWatch");
        UserWillWatch = await storage.GetItemAsync<bool>("UserWillWatch");
        UserStopWatch = await storage.GetItemAsync<bool>("UserStopWatch");
        UserDoesntWatch = await storage.GetItemAsync<bool>("UserDoesntWatch");

        var connectionStringSerials = "mongodb://localhost";
        var clientSerials = new MongoClient(connectionStringSerials);
        var dbSerials = clientSerials.GetDatabase("TV_Shows");
        var collectionSerials = dbSerials.GetCollection<Serials>("Serials");
        if (collectionSerials.Find(x => x.SerialNameEng == "The Big Bang Theory").CountDocuments() > 0)
        {
            Serials ser = new Serials();
            ser.ReleaseDate = collectionSerials.Find(x => x.SerialNameEng == "The Big Bang Theory").FirstOrDefault().ReleaseDate;
            ser.FinishDate = collectionSerials.Find(x => x.SerialNameEng == "The Big Bang Theory").FirstOrDefault().FinishDate;
            ser.Seasons = collectionSerials.Find(x => x.SerialNameEng == "The Big Bang Theory").FirstOrDefault().Seasons;
            ser.About = collectionSerials.Find(x => x.SerialNameEng == "The Big Bang Theory").FirstOrDefault().About;
            date = ser.ReleaseDate + " - " + ser.FinishDate;
            seasons = ser.Seasons;
            information = ser.About;
        }

        var connectionStringUserRating = "mongodb://localhost";
        var clientUserRating = new MongoClient(connectionStringUserRating);
        var dbUserRating = clientUserRating.GetDatabase("TV_Shows");
        var collectionUserRating = dbUserRating.GetCollection<UserRating>("UserRating").AsQueryable();
        foreach (var item in collectionUserRating)
        {
            if (item.SerialNameEng == "The Big Bang Theory")
            {
                userCount++;
                usersRating += item.SingleUserRating;
            }
        }
        allUsersRating = usersRating / userCount;

        var collectionUserRating1 = dbUserRating.GetCollection<UserRating>("UserRating");
        if (collectionUserRating1.Find(x => x.SerialNameEng == "The Big Bang Theory"
            && x.UserRatingLogin == UserLogin).CountDocuments() > 0)
        {
            UserRating ur = new UserRating();
            ur.SingleUserRating = collectionUserRating1.Find(x => x.SerialNameEng == "The Big Bang Theory" &&
                x.UserRatingLogin == UserLogin).FirstOrDefault().SingleUserRating;
            currentUserRating = ur.SingleUserRating;

        }
        await storage.SetItemAsync<int>("CurrentUserRatingTBBT", currentUserRating);
        CurrentUserRatingTBBT = await storage.GetItemAsync<int>("CurrentUserRatingTBBT");
    }

    private void FromBlazorToDBToSerial()
    {
        foreach (var item in tbbt)
        {
            TBBT.AddSeriesTBBTToDb(new TBBT(item.SerialName, item.SerialNameEng, item.SerialSeason, item.SeriesNumber,
                item.SeriesName));
        }
    }

    async Task UserIsWatchingAsync()
    {
        await storage.SetItemAsync<bool>("UserWatch", true);
        await storage.SetItemAsync<bool>("UserWillWatch", false);
        await storage.SetItemAsync<bool>("UserStopWatch", false);
        await storage.SetItemAsync<bool>("UserDoesntWatch", false);

        UserWatch = await storage.GetItemAsync<bool>("UserWatch");
        UserWillWatch = await storage.GetItemAsync<bool>("UserWillWatch");
        UserStopWatch = await storage.GetItemAsync<bool>("UserStopWatch");
        UserDoesntWatch = await storage.GetItemAsync<bool>("UserDoesntWatch");
    }

    async Task UserWillWatchingAsync()
    {
        await storage.SetItemAsync<bool>("UserWatch", false);
        await storage.SetItemAsync<bool>("UserWillWatch", true);
        await storage.SetItemAsync<bool>("UserStopWatch", false);
        await storage.SetItemAsync<bool>("UserDoesntWatch", false);

        UserWatch = await storage.GetItemAsync<bool>("UserWatch");
        UserWillWatch = await storage.GetItemAsync<bool>("UserWillWatch");
        UserStopWatch = await storage.GetItemAsync<bool>("UserStopWatch");
        UserDoesntWatch = await storage.GetItemAsync<bool>("UserDoesntWatch");
    }

    async Task UserStopWatchingAsync()
    {
        await storage.SetItemAsync<bool>("UserWatch", false);
        await storage.SetItemAsync<bool>("UserWillWatch", false);
        await storage.SetItemAsync<bool>("UserStopWatch", true);
        await storage.SetItemAsync<bool>("UserDoesntWatch", false);

        UserWatch = await storage.GetItemAsync<bool>("UserWatch");
        UserWillWatch = await storage.GetItemAsync<bool>("UserWillWatch");
        UserStopWatch = await storage.GetItemAsync<bool>("UserStopWatch");
        UserDoesntWatch = await storage.GetItemAsync<bool>("UserDoesntWatch");
    }

    async Task UserDontWatchingAsync()
    {
        await storage.SetItemAsync<bool>("UserWatch", false);
        await storage.SetItemAsync<bool>("UserWillWatch", false);
        await storage.SetItemAsync<bool>("UserStopWatch", false);
        await storage.SetItemAsync<bool>("UserDoesntWatch", true);

        UserWatch = await storage.GetItemAsync<bool>("UserWatch");
        UserWillWatch = await storage.GetItemAsync<bool>("UserWillWatch");
        UserStopWatch = await storage.GetItemAsync<bool>("UserStopWatch");
        UserDoesntWatch = await storage.GetItemAsync<bool>("UserDoesntWatch");
    }

    async Task Rating(int rating)
    {
        await storage.SetItemAsync<int>("CurrentUserRatingTBBT", rating);

        CurrentUserRatingTBBT = await storage.GetItemAsync<int>("CurrentUserRatingTBBT");

        var connectionStringUserRating = "mongodb://localhost";
        var clientUserRating = new MongoClient(connectionStringUserRating);
        var dbUserRating = clientUserRating.GetDatabase("TV_Shows");
        var collectionUserRating = dbUserRating.GetCollection<UserRating>("UserRating");
        if (collectionUserRating.Find(x => x.UserRatingLogin == UserLogin &&
                x.UserRatingPassword == UserPassword && x.SerialNameEng == "The Big Bang Theory").CountDocuments() == 0)
        {
            UserRating.AddUserRatingToDb(new UserRating(UserLogin, UserPassword, "The Big Bang Theory", 
                CurrentUserRatingTBBT));
        }
        else
        {
            if (collectionUserRating.Find(x => x.SingleUserRating != CurrentUserRatingTBBT).CountDocuments() > 0)
            {
                collectionUserRating.DeleteOne(x => x.UserRatingLogin == UserLogin &&
                x.UserRatingPassword == UserPassword && x.SerialNameEng == "The Big Bang Theory" &&
                x.SingleUserRating != CurrentUserRatingTBBT);

                UserRating.AddUserRatingToDb(new UserRating(UserLogin, UserPassword, "The Big Bang Theory", 
                    CurrentUserRatingTBBT));
            }
        }
    }

    private void Rating5()
    {
        currentUserRating = 5;
        Rating(currentUserRating);
    }

    private void Rating4()
    {
        currentUserRating = 4;
        Rating(currentUserRating);
    }

    private void Rating3()
    {
        currentUserRating = 3;
        Rating(currentUserRating);
    }

    private void Rating2()
    {
        currentUserRating = 2;
        Rating(currentUserRating);
    }

    private void Rating1()
    {
        currentUserRating = 1;
        Rating(currentUserRating);
    }
}

